#annoyingcat img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2147483647
}
#annoyingcat {
  background-color: transparent;
  width: 100;
  height: auto;
  position:fixed;
}
