#annoyingcat img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2147483647;
  width: 150px;
}
#annoyingcat {
  width: 300;
  height: auto;
  position:fixed;
}
